---
# Local customisation (S)CSS
---

/* Variables */
$kiselbla: #44687D;
$button1: #abc;
$button2: #abc;
$button3: #abc;
$button4: #abc;
$button5: #abc;
$button6: #abc;
$button7: #abc;
$button8: #abc;
$button9: #abc;

/* Custom (S)CSS */
.hero {

  // .hero.has-background
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  // .hero-background
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;

    // .hero.is-transparent
    &.is-transparent {
        opacity: 0.5<;
    }
  }
}

/*
.button9 {
  color: $button9;
}
*/
