<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index.html">
      <img src="/assets/img/logo_in_600px.png">
    </a>

    <!-- Creates the burger -->
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Navbar items -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/index.html">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link">
          Committees
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/committees/board/">
            Chapter board
          </a>

          <a class="navbar-item" href="/committees/central/">
            Central chapter functions
          </a>

          <a class="navbar-item"  href="/committees/brink/">
            BRINK
          </a>

          <a class="navbar-item"  href="/committees/communication/">
            Communication
          </a>

          <a class="navbar-item"  href="/committees/education/">
            Education
          </a>

          <a class="navbar-item" href="/committees/itk/">
            ITK
          </a>

          <a class="navbar-item"  href="/committees/reception/">
            Reception Committee
          </a>

          <a class="navbar-item" href="/committees/smn/">
            SMN
          </a>

          <a class="navbar-item" href="/committees/sports/">
            Sports Committee
          </a>

        </div>
      </div>

      <a class="navbar-item" href="/assets/pdf/statutes_20170523_en.pdf" target="_blank">
        The Chapter's statutes
      </a>

      <a class="navbar-item" href="http://www.insektionen.se" target="_blank">
        The Chapter's website
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success">Candidacy Form</a>
          <a class="button is-light" href="mailto:val@insektionen.se">
            <strong>Contact the election committee</strong>
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>