<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "/index.html" | relative_url }}">
      <img src="{{ "/assets/img/logo_in_600px.png" | relative_url }}" >
    </a>

    <!-- Creates the burger if pagewidth is small enough -->
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Navbar items -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ "/../../index.html" | relative_url }}">
        Home
      </a>

      <a class="navbar-item" href="{{ "/election/index.html" | relative_url }}">
        Information about the elections
      </a>

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link">
          Committees
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ "/committees/board/index.html" | relative_url }}">
            Chapter board
          </a>

          <a class="navbar-item" href="{{ "/committees/central/index.html" | relative_url }}">
            Central chapter functions
          </a>

          <a class="navbar-item"  href="{{ "/committees/brink/index.html" | relative_url }}">
            BRINK
          </a>

          <a class="navbar-item"  href="{{ "/committees/communication/index.html" | relative_url }}">
            Communication
          </a>

          <a class="navbar-item"  href="{{ "/committees/education/index.html" | relative_url }}">
            Education
          </a>

          <a class="navbar-item" href="{{ "/committees/itk/index.html" | relative_url }}">
            ITK
          </a>

          <a class="navbar-item"  href="{{ "/committees/reception/index.html" | relative_url }}">
            Reception Committee
          </a>

          <a class="navbar-item" href="{{ "/committees/smn/index.html" | relative_url }}">
            SMN
          </a>

          <a class="navbar-item" href="{{ "/committees/sports/index.html" | relative_url }}">
            Sports Committee
          </a>

        </div>
      </div>

      <a class="navbar-item" href="{{ "/assets/pdf/statutes_20170523_en.pdf" | relative_url }}" target="_blank">
        The Chapter's statutes
      </a>

      <a class="navbar-item" href="http://www.insektionen.se" target="_blank">
        The Chapter's website
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-success">Candidacy Form</a>
          <a class="button is-light" href="mailto:val@insektionen.se">
            <strong>Contact the election committee</strong>
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>